[user]
  name  = ichbean
  email = ichbean@gmail.com
[core]
  editor = nvim
[credential "https://github.com"]
  helper   = cache
  username = ichbean
[credential "https://gitlab.com"]
  helper   = cache
  username = ichbean
