configuration {
    font: "mono 20";
    sidebar-mode: false;
    hover-select: true;
    display-drun: "";
    timeout {
        action: "kb-cancel";
        delay:  0;
    }
    filebrowser {
        directories-first: true;
        sorting-method:    "name";
    }
}

@theme "nord"
