fonts.dtd
.netrwhist
nvim/.config/nvim/.init.vim-rplugin\~
nvim/.config/nvim/autoload/*
nvim/.config/nvim/bundle/*
!nvim/.config/nvim/bundle/lightline.vim
nvim/.config/nvim/bundle/lightline.vim/*
!nvim/.config/nvim/bundle/lightline.vim/autoload
nvim/.config/nvim/bundle/lightline.vim/autoload/*
!nvim/.config/nvim/bundle/lightline.vim/autoload/lightline
nvim/.config/nvim/bundle/lightline.vim/autoload/lightline/*
!nvim/.config/nvim/bundle/lightline.vim/autoload/lightline/colorscheme
nvim/.config/nvim/bundle/lightline.vim/autoload/lightline/colorscheme/*
!nvim/.config/nvim/bundle/lightline.vim/autoload/lightline/colorscheme/duotone.vim


