return {
    { "typicode/bg.nvim", lazy = false },
    {
        "savq/melange-nvim",
            lazy = false,
            priority = 1000,
            config = function ()
                vim.cmd.colorscheme 'melange'
            end
    },

    {
        "nvim-lualine/lualine.nvim",
        opts = {
            options = {
                theme = "melange",
                icons_enabled = false,
                component_separators = "|",
                section_separators = ""
            }
        }
    },

    {
        "lukas-reineke/indent-blankline.nvim",
        main = 'ibl',
        opts = {
            indent = { char = '┆' },
            scope = {
                show_start = false,
                show_end = false
            }
        }
    },

    {
        "folke/which-key.nvim",
        event = "VeryLazy",
        init = function()
            vim.o.timeout = true
            vim.o.timeoutlen = 300
        end,
        opts = {}
    },

    {
        "dgagn/diagflow.nvim",
        event = "LspAttach",
        opts = {
            toggle_event = { 'InsertEnter' },
            placement = 'inline',
            inline_padding_left = 4,
        }
    },

    {
        "kylechui/nvim-surround",
        version = "*",
        event = "VeryLazy",
        opts = {}
    },

    {
        "brenoprata10/nvim-highlight-colors",
        opts = {}
    }
}
